#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>

&mt { flavor = "tap-preferred"; };

/ {
    combos {
        compatible = "zmk,combos";

        esc_combo {
            bindings = <&kp ESCAPE>;
            key-positions = <1 2>;
        };
    };

    keymap {
        compatible = "zmk,keymap";

        main {
            bindings = <
&kp ESC    &kp Q     &kp W     &kp E   &kp R   &kp T      &kp Y      &kp U   &kp I      &kp O     &kp P     &kp BSPC
&kp TAB    &kp A     &kp S     &kp D   &kp F   &kp G      &kp H      &kp J   &kp K      &kp L     &kp SEMI  &kp APOS
&kp LSHFT  &kp Z     &kp X     &kp C   &kp V   &kp B      &kp N      &kp M   &kp COMMA  &kp DOT   &kp FSLH  &kp ENTER
&kp LCTRL  &kp LALT  &kp LGUI  &trans  &trans  &kp SPACE  &kp SPACE  &trans  &trans     &kp RGUI  &kp RALT  &kp RCTRL
            >;
        };
    };
};
